
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }
    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    match /users/{userId} {
      allow get, list: if isOwner(userId);
      allow create: if isOwner(userId);
      allow update: if isOwner(userId);

      match /projects/{projectId} {
        allow get, list: if isOwner(userId);
        allow create, update, delete: if isOwner(userId);
      }
    }

    match /messages/{messageId} {
      // Allow anyone to send a message (public write)
      allow create: if true;
      // Only the site admin (you) should be able to read them (manually via console for now)
      allow read: if false; 
    }
  }
}
